{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}


{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form method="post">

        <input type="email" name="_username" value="{{ last_username }}" placeholder="Email address" required>

        <input type="password" name="_password" placeholder="Password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <input type="submit" value="Login">

        <a href="{{ path('app_user_lost_password') }}">
            Mot de passe oublié ?
        </a>
    </form>


{% endblock body %}
